/* Reseting somethings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0f1120;
    background-image: url(../assets/imgs/background-image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header{
    display: flex;
    flex-direction: column;
    margin: 2% auto;
    background-color:#2f1961;
    height: 12vh;
    width: 80%;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-top: 20px;
}

@font-face {
    font-family: 'Consolas';
    src: url('../assets/fonts/Consolas.ttf') format('truetype');
}

@font-face {
    font-family: 'Joystix';
    src: url('../assets/fonts/joystix\ monospace.otf') format('truetype');
}


nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1.8rem;
    margin-bottom: 5%;
    align-items: center;
    height: 40px;
}

nav a {
    text-decoration: none;
    color: #ef18fa;
    font-family: 'Consolas', monospace;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    height: 100%;
}

nav a:hover {
    color: #03f75c;
    font-size: 1.7rem;
}

.link-active {
    color: #03f75c;
}

.logo {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
}

.logo ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.logo ul li {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
}

.logo ul li::before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url('../assets/imgs/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 15px;
}

.logo ul li a {
    text-decoration: none;
    color: #ef18fa;
    font-family: 'Joystix', sans-serif;
    font-size: 3rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #2f1961;
    width: 100%;
    height: 15vh;
    margin: 4% auto;
    padding: 20px 30px;
}

.footer-left {
    flex: 2;
    max-width: 500px;
}

.footer-left ul {
    list-style: none;
}

.footer-left ul li a {
    text-decoration: none;
    color: #ef18fa;
    font-family: 'Consolas', monospace;
    font-size: 1.2rem;
    line-height: 1.5;
    display: block;
    word-wrap: break-word;
}

.footer-right {
    flex: 1;
    text-align: right;
}

.footer-right h3 {
    color: #ef18fa;
    font-family: 'Consolas', monospace;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.footer-right ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-right ul li {
    margin: 2px 0;
}

.footer-right ul li a {
    text-decoration: none;
    color: #ef18fa;;
    font-family: 'Consolas', monospace;
    font-size: 0.8rem;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Linkedin, .Instagram, .X {
    padding-left: 20px; /* Espaço para o ícone */
    background-position: left center;
    background-size: 15px;
    background-repeat: no-repeat;
}

.Linkedin {
    background-image: url('../assets/imgs/linkedin.png');
}

.Instagram {
    background-image: url('../assets/imgs/instagram.png');
}

.X {
    background-image: url('../assets/imgs/x.png');
}

.footer-right ul li a:hover {
    color: #03f75c;
}

main {
    width: 80%;
    margin: 4% auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Tornando responsivo */
    gap: 2rem;
}

.news-card {
    background-color: #2f1961;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer; /* Indica que é clicável */
}

.news-card:hover {
    transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Sombra ao passar o mouse */
}

.news-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
